/*default styles */

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Some default styles */
.button-container button {
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    background-color: #469165;
}

/* Header styles */

header #header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background-color: azure;
}

header .header-logo img {
    height: 60px;
    width: auto;
}

header .header-menu ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header .header-menu ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}

header .header-menu ul li a:hover {
    color: #007bff;
}


header .button-container {
    display: flex;
    gap: 16px;
}




