/*default styles */

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Some default styles */
.button {
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    background-color: #469165;
}

.another-button {
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    background-color: #ffffff00;
    border: 2px solid #ffffff;
}

.text-highlight {
    color: #30B868;
}

.button-icon {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    height: 10px;              
    padding: 0 3px;          
    line-height: 1;           
}


/* Header styles */

header #header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background-color: aliceblue;

}

header .header-logo img {
    height: 60px;
    width: auto;
}

header .header-menu ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header .header-menu ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}

header .header-menu ul li a:hover {
    color: #007bff;
}


header .button-container {
    display: flex;
    gap: 16px;
}

/* Hero section styles */

#hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 800px;
}

.hero-container {

    width: 85%;
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#hero-section .hero-content {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

#hero-section .hero-content h1 {

    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
    }

#hero-section .hero-content p {

    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
    margin: 0 auto;
    max-width: 960px;
}

#hero-section .hero-container .button-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* Badge Styles */
.hero-badge {
    background-color: #ffffff;
    border-radius: 100px;
    padding: 6px 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.badge-dot {
    width: 8px;
    height: 8px;
    background-color: #469165;
    border-radius: 50%;
    border: 2px solid #b6e0c6;
}

.hero-badge p {
    font-size: 14px;
    font-weight: 500;
    color: #469165;
    margin: 0;
    line-height: 1;
}


/* Problem Section Styles */

#problem-section {
    background-color: rgba(255, 255, 255, 1);
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#problem-section .header{
    max-width: 960px;
    margin-bottom: 60px;
}

#problem-section .problem-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 80px 0;
}

#problem-section .problem-header h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
}

#problem-section .problem-header p {
    font-size: 16px;
    color: #627382;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    margin-bottom: 44px;
}

/* Feature Grid */

.feature-grid {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 85%;
    max-width: 1280px;
}

.feature-card {
    background-color: #ffffff;
    padding: 40px 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02);
    text-align: center;
    max-width: 300px;
    width: auto;
}

.feature-card:hover {
    box-shadow: 0 8px 16px rgba(25, 25, 25, 0.05);
}

.icon-circle {
    width: 64px;
    height: 64px;
    background-color: #F95555;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.icon-circle img {
    width: 28px;
    height: 28px;
}

.feature-card h3 {
    font-size: 20px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.feature-card p {
    font-size: 15px;
    color: #627382;
    line-height: 20px;
}